@font-face{
    font-family: 'Henny';
    src: url(fonts/HennyPenny-Regular.otf);
   
}
@font-face{
    font-family: 'hunble';
    src: url(fonts/Humblle\ Rought\ Caps.ttf);
   
}
@font-face{
    font-family: 'gabi';
    src: url(fonts/Gabriela-Regular.ttf);
}
@font-face{
    font-family: 'Frederick';
    src: url(fonts/FrederickatheGreat-Regular.ttf);
}
@font-face{
    font-family: 'Nothing You Could Do';
    src: url(fonts/NothingYouCouldDo-Regular.ttf);
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #cb4752;
}
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    
    text-transform: uppercase;
    font-size: 1em;
    color: white!important;
    font-family: hunble;
    font-size: 40px;
    
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'gabi';
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar-dark .navbar-nav .nav-item.active .nav-link
{
    background-color: black;
    color: #cb4752;
}
.navbar-dark .navbar-nav .nav-item .nav-link{
    color: white;
    padding: 5px 15px;
}
.banner{
    position: relative;
    background:black;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 200px 0 200px;
}
.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #cb4752;
    text-transform: uppercase;
    font-family: 'Henny';
}

.banner p{
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #717171;
    font-family:  'gabi';
}
.btnD1{
    display: inline-block;
    margin: 1em 0 0;
    background: gray;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    font-family:  'gabi';
}
.btnD1:hover
{
    color: white;
    text-decoration: none;
    background: #cb4752;
}
.btn2{
    padding: 0 0 0 0;
}
.fundo{
    background-color: black;
}
.navbar-dark .navbar-toggler{
    border: none;
    color: black;
    border:  2px solid black;
    border-radius: 0;
    outline: none;
}
.navbar-toggler{
    background: brown;
}
.posts{
    position: relative;
    background: url(menupost2.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
}
.postsportifo{
    position: relative;
    background: url(menupost2.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 8   0px;
    
}

.img-thumbnail{
    width: 200px;
    height: 150px;
    margin-top: 25px;
    position: relative;
    margin-bottom: 10px;
    
}
footer{
    position: relative;
    background: url(teste1.png);
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    padding: 50px 0 50px;
}
h3,h4{
    color: cornsilk;
    font-family:  'gabi';
    text-align: center;
}
p{
    color: ivory;
}
.post-center{
    text-align: center;
}
.btnD2{
    display: inline-block;
    margin: 1em 0 0;
    background: brown;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    font-family:  'gabi';
    margin-bottom: 10px;
}
.btnD2:hover
{
    color: black;
    text-decoration: none;
}
.carousel-item{
    background: no-repeat center center scroll;
    -webkit-backdrop-size: cover;
    background-size: cover;
}
section img{
    height: 277px;
    min-height: 400px;
    position: relative;  
}
.carousel-caption{
    bottom: 20px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:  25px;
    font-family: merienda;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.title_post{
    margin: 20px;
    color: #cb4752;
    text-align: center;
    font-family: Frederick;
}
.imgpost{
    margin-top: 25px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
}

aside{
    padding: 25px;
}
.text_post{
    padding: 5px;
    color: white !important; 
}

.control-label{
    color: #fff;
}

.contato-title{
    color: #cb4752;
    font-family: 'Henny';
}

.find-widget{
    color: white;
    margin: 10px;
}


.iconeface{
    padding-left: 22px;
    background: url(facebook.png) no-repeat left center;
}

.iconezap{
    padding-left: 22px;
    background: url(whatsapp.png) no-repeat left center;
}

.iconeinsta{
    padding-left: 22px;
    background: url(instagram.png) no-repeat left center;
}

.iconemail{
    padding-left: 22px;
    background: url(mail.png) no-repeat left center;
}

.titleVDT{
    font-family: 'Frederick';
    color: #F45B69;
    text-align: center;

}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: black;
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #F45B69;
    font-family: 'gabi';
    color: black;
    font-size: large;
  }
  time{
    color: white;
}
  
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
    
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #F45B69;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #F45B69;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

@media (max-width: 768px)
{
    .banner{
        padding: 200px 0;
    }
    .banner h2{
        font-size: 1.8em;
    }

}


